.change-password-view-submit {
    margin-top: 40px!important;
}

.change-password-view-title {
    white-space: nowrap;
    font-family: Telegraf, sans-serif!important;
    font-weight: 900!important;
    font-size: 44px!important;
    line-height: 91%!important;
    text-align: center!important;
    color: var(--secondary-dark)!important;
}

@media screen and (max-width: 1023px) {
    .change-password-view-title {
        margin-top: 0px;
        position: inherit;
        white-space: pre-wrap;
        font-size: 22px!important;
    }
}
