@import "src/styles/mixins/card/stats";

:local(.cardText) {
  @include statsCardContainer;

  :local(.row) {
    @include statsCardRow;

    :local(.ellipsis) {
      text-overflow: ellipsis;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
