.change-password {
    &-container {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    &-title {
        font-family: Ilisarniq, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 133%;
        color: var(--main-dark);
        margin-bottom: 10px;
        margin-top: 20px;
        &:first-child {
            margin-bottom: 20px;
            white-space: pre-wrap;
        }
        margin-left: 0px;
    }
    &-submit {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &-row {
        display: flex;
        .text-field:first-child {
            margin-left: 0px;
        }
        .text-field:nth-child(2){
            margin-right: 0px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .change-password {
        &-container {
            margin-top: 20px;
        }
        &-row {
            flex-direction: column;
            &-datepicker {
                margin-left: 0px;
                margin-top: 8px;
            }
        }
        &-row.first-row {
            flex-direction: row;
        }
        &-submit {
            margin: auto;
            margin-top: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
    }
}
