@import "src/styles/mixins/container";
@import "src/styles/mixins/breakpoints";

:local(.container) {
  @include container;

  section {
    margin: 32px 0;

    h1 {
      margin-bottom: 24px;
    }

    :local(.recommendedSchools) {
      display: flex;
      flex-direction: row;
      margin: 0 -8px;

      @include breakpoint('small') {
        flex-direction: column;
        margin: -8px 0;
      }

      :local(.recommendedSchool) {
        flex: 1;
        margin: 0 8px;

        @include breakpoint('small') {
          margin: 8px 0;
        }
      }
    }
  }
}