@import "src/styles/mixins/breakpoints";
@import "src/styles/mixins/container";
@import "src/styles/mixins/icon-box";
@import "src/styles/mixins/title";

:local(.container) {
  @include container;

  & > :local(.title) {
    @include title;
    margin-bottom: 60px;
  }
}

:local(.surveys) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include breakpoint('medium') {
    flex-direction: column;
    align-items: center;
    margin: -28px 0;
  }
}
